[user]
    name = Chris Kankiewicz
    email = Chris@ChrisKankiewicz.com
    signingKey = 643F3710CEDE27E460E66B18474E915709CEB5EB
[color]
    ui = auto
[core]
    autocrlf = input
    editor = nano
    excludesfile = ~/.gitignore_global
[push]
    default = simple
[remote "origin"]
    push = HEAD
[alias]
    fast-forward = merge --ff-only
    lg = log --graph --pretty=format:'%C(red)%h%Creset %C(dim white)-%Creset %s %C(dim white)•%Creset %C(bold blue)%an%Creset %C(green)[%cr]%Creset%C(yellow)%d%Creset'
    tags = log --no-walk --tags --pretty=format:'%C(red)%h%Creset %C(dim white)-%Creset %s %C(dim white)•%Creset %C(bold blue)%an%Creset %C(green)[%cr]%Creset%C(yellow)%d%Creset'
    unstage = restore --staged
[sendemail]
    smtpencryption = tls
    smtpServer = smtp.gmail.com
    smtpServerPort = 587
    smtpUser = Chris@ChrisKankiewicz.com
[commit]
	gpgSign = true
[init]
	defaultBranch = master
