[user]
    name = Chris Kankiewicz
    email = Chris@ChrisKankiewicz.com
[branch "master"]
    remote = origin
    merge = refs/heads/master
[color]
    ui = auto
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
